.vscode
awe/.cmake
awe/.qt
awe/.qt_plugins
awe/.vscode
awe/awe_autogen
awe/build
awe/CMakeFiles
awe/images
awe/lib
awe/awe
awe/cmake_install.cmake
awe/CMakeChache.txt
awe/programState
proxyhandler/build
proxyhandler/CMakeFiles
proxyhandler/CMakeChache.txt
proxyhandler/cmake_install.cmake
proxyhandler/proxyhandler